body {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    margin:0;
    padding: 0;
    background-color: rgb(95, 95, 95);
    background-image:url(assets/Illustrations/Promo.jpg);
    background-size:100%;
    background-attachment: fixed;
}
#spacer{
    padding: 40px;
}

section {
    width:900px;
    margin: auto;
    margin-top: 0px;
    margin-bottom:  0px;
    background-color: rgb(243, 235, 235);
    color: rgb(37, 37, 37);
    box-shadow: 0px 0px 100px 50px rgb(110, 41, 41); 
    text-align:center;
}

section p {
    width:80%;
    box-sizing: border-box;
    color: rgb(53, 53, 53);
    padding: 2em;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(177, 177, 177) ;
    background-color: rgb(255, 255, 255);
}
section ul{
    color: rgb(53, 53, 53);
    
    margin:2em 6em;
}

ul li {
    text-align:left ;
}

h1 {
    font-size: 50px;
    margin: auto;
    padding-top: 100px;
    text-transform: uppercase;
    letter-spacing: 17px;
    color: black;
    
}
h2 {
    padding-top:50px;
    padding-bottom: 50px;
    letter-spacing: 8px;
    color: rgb(44, 44, 44);
    text-transform: uppercase;
}

h3{
    margin:auto;
    font-weight: 400;
    width: 80%;
    text-align:center;
    padding-bottom: 20px;
}
section img {
    width: 80%;
    margin-bottom:50px;
}
video{
    width: 80%
}

#navigationbutton {
    text-decoration: none;
    border: 2px solid black;
    padding: 1em 2em;
    box-sizing:border-box;
    color:black;
    margin-left: 300px;
    margin-right:300px;
    margin-top: 50px;
    margin-bottom:  30px;
    display: block;
    border-radius: 10px;
    font-weight: 700;
}

#navigationbutton:hover {

    border: 2px solid rgb(207, 0, 0);
    color: rgb(219, 0, 0);